.container {
  background: #fbfbfb;
  padding: 25px;
}

.titulos {
  text-align: center;
}

.formulario {
  text-align: center;
}

.container-botones {
  display: flex;
  justify-content: space-around;
  margin-left: 83px;
}
