.contenedor-Form {
  margin: 80px;
  padding: 20px;
}
.formulario {
  width: 100%;
}
.contenedor-botones {
  background: rgba(155, 155, 153, 0.308);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
