.contenedor-Form {
  margin: 30px;
}
.formulario-left {
  width: 100%;
  height: 400px;
  background: rgba(146, 171, 241, 0.1);
  text-align: center;
}
.formulario-right {
  width: 100%;
  height: 400px;
  background: rgba(146, 171, 241, 0.1);
  text-align: center;
}
.margen {
  margin: 10px;
}
.contenedor-botones {
  background: rgba(146, 171, 241, 0.1);
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
